/* ########## GLOBAL RULES ################## */

:root {
  --orange: #ff9d22;
  --darkOrange: #ed7e18;
  --grey: #e4e4e4;
  --black: #1e1e1e;
  --white: white;
  --red: red;
}

.app {
  display: flex;
  justify-content: center;
}
.container {
  width: 1000px;
}
.page {
  margin-bottom: 200px;
}
.title {
  color: var(--orange);
  font-size: 40px;
  font-weight: bolder;
  margin-bottom: 30px;
}
.button-display {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
}
.button-on {
  flex: 1;
  height: 100px;
  background-color: var(--orange);
  font-weight: bold;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  box-shadow: 0px 5px var(--darkOrange);
  margin: 5px;
  padding: 5px;
}
.button-off:hover {
  background-color: var(--orange);
  color: var(--white);
  box-shadow: 0px 5px var(--darkOrange);
  border: none;
}
.button-off {
  flex: 1;
  height: 100px;
  border: solid 1px black;
  font-weight: bold;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  box-shadow: 0px 5px lightgrey;
  margin: 5px;
  padding: 5px;
}
.radio {
  margin-right: 5px;
  background-color: var(--black);
}

.error-message {
  color: var(--red);
}

.next-button-on {
  background-color: var(--orange);
  color: white;
  height: 30px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}
.next-button-off {
  background-color: var(--white);
  color: var(--grey);
  height: 30px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  border: solid var(--orange) 3px;
}
/* ########## HEADER ################## */

.header {
  height: 100px;
  padding-top: 50px;
  border-bottom: solid 1px var(--grey);
  display: flex;
  justify-content: space-between;
}

.header-text {
  font-size: 18px;
  font-weight: 400;
}
.admin {
  text-decoration: none;
  color: var(--orange);
}
/* ########## HOME ################## */

.home {
  height: 200px;
}

/* ########## TYPEGOOD ################## */

/* ########## STATEGOOD ################## */

/* ########## USAGEGOOD ################## */

/* ########## USER SITUATION ################## */

/* ########## LOCATION ################## */
.location-country {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--grey);
  height: 50px;
  padding-left: 10px;
  padding-top: 1px;
}
.question-country {
  width: 400px;
}
.location-select {
  width: 200px;
  border: var(--orange) solid 1px;
  box-shadow: 0px 2px var(--orange);
  font-weight: 400;
  font-family: "oswald";
  height: 30px;
  outline: none;
}
.location-city {
  display: flex;
  flex-direction: row;
  height: 100px;
  padding-left: 10px;
  padding-top: 10px;
}

.location-city-input {
  padding: 5px;
  width: 185px;
  font-family: "oswald";
  border-radius: 5px;
  border: var(--orange) solid 1px;
  box-shadow: 0px 2px var(--orange);
  outline: none;
}
.city-choice {
  display: flex;
  flex-direction: column;
}
.city-select {
  width: 198px;
  height: 100px;
  border: var(--orange) solid 1px;
  font-weight: 400;
  font-family: "oswald";
  border-radius: 5px;
  outline: none;
}
.location-text {
  padding-left: 5px;
  margin-bottom: 50px;
}
/* ########## AMOUNT ################## */
.amount {
  margin-bottom: 30px;
}
.amount-project-grey {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--grey);

  height: 50px;
  padding-left: 10px;
  /* padding-top: 10px; */
}
.amount-project-white {
  display: flex;
  flex-direction: row;
  align-items: center;

  height: 50px;
  padding-left: 10px;
  /* padding-top: 10px; */
}
.amount-project-question {
  width: 400px;
}
.amount-project-input {
  border: var(--orange) solid 1px;
  box-shadow: 0px 2px var(--orange);
  border-radius: 5px;
  padding: 5px;
  width: 185px;
  font-family: "oswald";
  font-weight: 400;
  font-size: 14px;
  text-align: right;
  outline: none;
}
.span-amount {
  padding-left: 5px;
}
.amount-project.input {
  font-family: "oswald";
  font-weight: 400;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* ########## EMAIL ################## */
.email-header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 20px;
}
.email-message {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 300px;
  background-color: var(--orange);
  height: 80px;
  width: 180px;
  padding: 20px;
  color: white;
}
.email-image {
  height: 100px;
}
.email-wrong {
  padding-left: 5px;
  color: red;
  font-size: 10px;
}
.checkbox {
  cursor: pointer;
}
.checkbox-text {
  font-size: 12px;
  padding-left: 5px;
}
.email-error-message {
  color: red;
  font-size: 12px;
}
/* ##############FINISH ########## */
.finish-box {
  display: flex;
  padding-bottom: 50px;
}
.finish-text {
  padding-right: 5px;
}
.fileId {
  font-weight: bolder;
}

/* ########## PROG BAR ################## */
.progBar {
  width: 250px;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  /* flex: 1; */
  width: 60%;
}
.down {
  display: flex;
  flex: 1;
  justify-content: space-between;
  padding-top: 50px;
}
.prev-button {
  text-decoration: underline;
}
/* #############BACK OFFICE ############# */
.userFiles-array {
  display: flex;
  text-decoration: none;
}
.array-element {
  text-decoration: none;
  color: var(--black);
  padding: 3px;
  width: 90px;
  height: 25px;
  font-size: 12px;
  border: solid 1px var(--orange);
  cursor: pointer;
}
.file-presentation {
  display: flex;
  flex-direction: row;
}
.userFile-array {
  /* display: flex; */
  text-decoration: none;
}
.array-box {
  text-decoration: none;
  color: var(--black);
  padding: 3px;
  width: 150px;
  height: 25px;
  font-size: 12px;
  border: solid 1px var(--orange);
  cursor: pointer;
}
